

.card{
    height:230px;
    width:450px;
    border-radius: 10px;
    border:2px solid #E74C3C;
    position: relative;
    left: 30%;
    top: 30%;
    text-align: center;
    background-color: white;
    box-shadow: 10px 10px 10px lightgrey;
}

.background1 {
    background-image: url(./bg.png);
    background-size: 1400px;
    height: 100vh;
    width: 100%;
}
.background2{
    background-image: url(./bg2.png);
    background-size: 1400px;
    height: 100vh;
    width: 100%;
}

.blur {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(4px);
    height: 100vh;
    width: 100%;
}

input{
    border: solid #E74C3C;
    border-width: 2px;
    width: 70%;  
    height: 15%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px lightgrey;
}

.button{
    color: white;
    background-color:#E74C3C;
    border-radius: 30px;
    height: 40px;
    width: 80px;
    border: 0px solid;
}
  
.font2{
    font-weight: lighter; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width:700px) {
    .background1 {
        background-image: url(./bg3.jpeg);
        background-size: 120%;
        height: 100vh;
        width: 100vw;
    }
    .card{
        left:5%;
        width:80%;
    }
    .background2 {
        background-image: url(./bg4.jpeg);
        background-size: 120%;
        height: 100vh;
        width: 100vw;
    }
}