section{
    margin: 6% 25% 25% 25%;
    height:50%;
    width: 50%;
}
.flex-container{
    display: flex ;
    flex-direction: row;
    justify-content: space-around;

}
.flex-item{
    height: 280px;
    width:  200px ;
    border: solid #F3ACA5;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 7px 7px 5px lightgrey;
}
.y{
    font-size: 4.23vw;
}
.tt{
    position: absolute; 
    font-size: 60px; 
    color: black;
    font-weight: bold; 
    background-color: white; 
    bottom: -30px; 
    left: 173px; 
    right: 169px;
}
hr{
    width: 160px;
    float: right;
}
h1{
    color: rgb(241, 143, 143);
    font-weight: lighter;
    font-size: 1.56vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 0px 0px 40px;
    margin-bottom: 0px;
}
.font2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ct{
    position: relative; 
    right:8px;
    text-decoration: line-through; 
    color: red; 
    font-size: 25px; 
    float: right;
}

.al{
    position:relative; 
    bottom: 0.98vw; 
    font-weight: lighter; 
    font-size: 1.95vw; 
    color: grey;
}
.ac{
    color:#E74C3C; 
    font-size: 3.26vw;
}
.kk{
    position:relative; 
    bottom: 7px;
    left:10px; 
    font-weight: lighter; 
    font-size: 40px; 
    color: grey;
}
.l{
    color:#E74C3C; 
    font-size: 50px;
}
.k{
    width:300px; 
    height: 350px ; 
    text-align:center
}

@media only screen and (max-width:700px){
    .o{
        display: none;
    }
    
    #jj{
        display: none;
    }
    .flex-container{
        display:block;
        width: 100%;
    }
    h1{
        color: rgb(241, 143, 143);
        font-weight: 20px;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 5px;
    }
    .al{
        display: none;
    }
    .ii{
        width: 50vw;
        position: relative;
        right: 100px;
        font-size: 40px;
    }
    .ij{
        text-align: right;
        width: 50vw;
        position: relative;
        left: 100%;
        bottom: 25px;
    }
    .y{
        font-size: 20px;
    }
    .kk{
        display: none;

    }
    .tt{
        font-size: 30px;
        position: relative;
        right: 0px;
        left:0px;
        right: 0px;
        bottom: 0px;
        width: 350px;
        font-size: 50px;
    }
    .l{
        position: relative;
        right: 400px;
        bottom: 110px;
    }
    .k{
        width:250px
    }
    
    
}