section{
    height: 50vh;
    width: 70%;
    color:black;
    margin: 6% auto;
}
.y{
    font-weight: bold;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
}
.ac{
    color:#E74C3C;
}
.al{
    /* position:relative; 
    bottom: 0.98vw;  */
    font-weight: lighter; 
    
    color: grey;
}
h1{
    color: rgb(241, 143, 143);
    font-weight: 20px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
}
.u{
    font-size: 40px; 
    position: relative;
    bottom: 50px;
    text-align: right;
}
.flex-container{
    display: flex ;
    flex-direction: row;
    justify-content: space-around;

}
hr{
    width: 160px;
    float: right;
}
.ct{
    position: relative; 
    right:8px;
    text-decoration: line-through; 
    color: red; 
    font-size: 1.63vw; 
    float: right;
}
.flex-item{
    height: 280px;
    width:  200px ;
    border: solid #F3ACA5;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 7px 7px 5px lightgrey;
}
@media screen and (max-width:700px){
    section{
        height:100vh;
        width: auto;
        margin-top: 10%;
    }
    .y{
        font-size: 12vw;
    }
    .al{
        display: none;
    }
    hr{
        display: none;
    }
    .ct{
        display: none;
    }
    #jj{
        display: none;
    }
    .flex-container{
        display:block;
        width: 100%;
    }
    .flex-item{
        text-align: center;
        width: 90vw;
        height: 50px;
        /* position: relative;
        right: 100px; */
    }
    h1{
        font-size: 150%;
    }
}